[submodule "src/FAST_LIO2_ROS2"]
    path = src/FAST_LIO2_ROS2
    url = git@github.com:huskyjk/FAST_LIO2_ROS2.git
[submodule "src/livox_ros_driver2"]
    path = src/livox_ros_driver2
    url = git@github.com:huskyjk/livox_ros_driver2.git
